@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lora:ital,wght@0,400;0,600;0,700;1,400&display=swap');

/* Estilos Globales */
body {
  background-color: #F7F4E9; /* Color Fondo Base */
  color: #5F5B54;            /* Color Texto Base */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Animaciones Personalizadas */
@keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 40px, 0); }
  to { opacity: 1; transform: translate3d(0, 0, 0); }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

/* Utilidad para ocultar scrollbar en carruseles si es necesario */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
